<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nasuakza.com.br.nasuakz">

    <!-- permissoes -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <!-- permissão auto completar email -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nome_app"
        android:supportsRtl="true"
        android:theme="@style/TemaGeral">

        <!-- services -->
        <service
            android:name=".classes.ServicoTarefas"
            android:exported="false">
            <intent-filter>
                <action android:name="br.com.gpaengenharia.classes.SERVICO_TAREFAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- broadcastReceivers -->
        <receiver android:name=".classes.AgendaServico">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".classes.getAlarme">
            <intent-filter>
                <action android:name="EXECUTA_ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- activities -->
        <activity
            android:name=".activities.AtvLogin"
            android:label="@string/nome_app"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AtvPrincipal"
            android:label="@string/title_activity_atv_principal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.AtvProdutos"
            android:label="@string/title_activity_atv_produto"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.AtvProduto"
            android:label="@string/title_activity_atv_produto"></activity>
    </application>

</manifest>
